![Projet AuFilDuBoamp bandeau](https://raw.githubusercontent.com/Semaine52/AuFilDuBoamp_Atelier/main/images/bandeau_aufilduboamp_notebooks.svg "Projet AuFilDuBoamp")

In [1]:
import os
import pandas as pd

In [4]:
from urllib.request import urlretrieve

URL = "https://raw.githubusercontent.com/Semaine52/AuFilDuBoamp_Atelier/main/scripts/afdb_lab_prereglages.py"
URL2 = "https://raw.githubusercontent.com/Semaine52/AuFilDuBoamp_Atelier/main/scripts/afdb_outils_csv.py"
urlretrieve(URL, "temp/prereglages_s52_lab.py")
urlretrieve(URL2, "temp/afdb_outils_csv.py")
%run prereglages_s52_lab
%run afdb_outils_csv.py

('temp/prereglages_s52_lab.py', <http.client.HTTPMessage at 0x1719489bd60>)

('temp/afdb_outils_csv.py', <http.client.HTTPMessage at 0x171949c10a0>)

In [5]:
x = BOAMP_2021_GITHUB_CSV[1]

In [6]:
pd.read_csv(x)

,BOAMP_AVIS_NUM,D_02_01_Typeorganisme_Institutioneuropeenne,D_02_02_Typeorganisme_Etat,D_02_03_Typeorganisme_Region,D_02_04_Typeorganisme_Departement,D_02_05_Typeorganisme_Commune,D_02_06_Typeorganisme_Epn,D_02_07_Typeorganisme_Ept,D_02_08_Typeorganisme_Autre
0,11-116542,False,False,False,False,False,False,True,NaN
1,19-174419,False,False,False,False,False,False,False,NaN
2,19-188040,False,False,False,False,False,False,True,NaN
3,19-99055,False,False,False,False,True,False,False,NaN
4,20-106925,False,False,False,False,False,True,False,NaN
...,...,...,...,...,...,...,...,...,...
4345,21-9989,False,False,False,False,True,False,False,NaN
4346,21-9990,False,False,False,False,False,False,True,NaN
4347,21-9995,False,False,False,False,False,False,True,NaN
4348,21-9996,False,False,False,True,False,False,False,NaN
4349,21-9997,False,False,False,False,True,False,False,NaN